In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import seaborn as sns; sns.set()

import gensim
from sklearn.manifold import TSNE
import collections as collect

C:\Users\KETT\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [3]:
aisles = pd.read_csv("aisles.csv")
departments = pd.read_csv("departments.csv")
orders = pd.read_csv("orders.csv")
prior = pd.read_csv("order_products__prior.csv")
train = pd.read_csv("order_products__train.csv")
products = pd.read_csv("products.csv")

In [5]:
orders.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
...,...,...,...,...,...,...,...
70,23391,7,prior,17,0,10,28.0
71,2984707,7,prior,18,0,9,7.0
72,369015,7,prior,19,3,12,3.0
73,2452257,7,prior,20,3,9,7.0
74,525192,7,train,21,2,11,6.0
75,600894,8,prior,1,6,0,NaN
76,2979257,8,prior,2,1,8,30.0
77,2570360,8,prior,3,5,0,30.0
78,880375,8,train,4,1,14,10.0
79,280530,9,prior,1,1,17,NaN
80,2762092,9,prior,2,0,14,6.0
81,1830137,9,prior,3,5,12,30.0
82,1094988,9,train,4,6,10,30.0
83,1224907,10,prior,1,2,14,NaN
84,68288,10,prior,2,5,15,30.0
85,2115522,10,prior,3,3,19,12.0
86,83395,10,prior,4,3,15,14.0
87,1353310,10,prior,5,5,20,23.0
88,1822501,10,train,6,0,19,30.0
89,2411567,11,prior,1,0,11,NaN
90,1170872,11,prior,2,5,11,12.0
91,2840752,11,prior,3,5,10,14.0
92,1611810,11,prior,4,5,13,30.0
93,2921164,11,prior,5,5,11,30.0
94,790927,11,prior,6,5,11,7.0
95,1468214,11,prior,7,5,9,30.0
96,1376945,11,test,8,6,11,8.0
97,1483446,12,prior,1,1,12,NaN
98,1247527,12,prior,2,5,9,30.0
99,1916106,12,prior,3,5,8,14.0

In [7]:
len(orders.eval_set)

3421083

In [11]:
len(orders.loc[orders['eval_set'] == 'prior'])

3214874

In [17]:
# merge of DEPARTMENTS, AISLES, and PRODUCTS
stock = pd.merge(products, aisles, on = 'aisle_id')
stock.pop('aisle_id')
stock = pd.merge(stock, departments, on = 'department_id',  sort = False)
stock.pop('department_id')
stock.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49688 entries, 0 to 49687
Data columns (total 4 columns):
product_id      49688 non-null int64
product_name    49688 non-null object
aisle           49688 non-null object
department      49688 non-null object
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

In [19]:
prior.tail()

          order_id product_id  add_to_cart_order  reordered
32434484   3421083        NaN                  6          1
32434485   3421083        NaN                  7          0
32434486   3421083        NaN                  8          0
32434487   3421083        NaN                  9          1
32434488   3421083        NaN                 10          1

order_id                    0
product_id           31049872
add_to_cart_order           0
reordered                   0
dtype: int64

In [10]:
train.sort_values(by=['user_id','order_number','add_to_cart_order'],inplace=True)
prior.sort_values(by=['user_id','order_number','add_to_cart_order'],inplace=True)

KeyError: 'user_id'